@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'segoe';
  src: url("fonts/segoeuil.eot");
  src: local("☺"), url("fonts/segoeuil.woff") format("woff"), url("fonts/segoeuil.ttf") format("truetype"), url("fonts/segoeuil.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'segoe';
  src: url("fonts/segoeui.eot");
  src: local("☺"), url("fonts/segoeui.woff") format("woff"), url("fonts/segoeui.ttf") format("truetype"), url("fonts/segoeui.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'segoe';
  src: url("fonts/seguisb.eot");
  src: local("☺"), url("fonts/seguisb.woff") format("woff"), url("fonts/seguisb.ttf") format("truetype"), url("fonts/seguisb.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'segoe';
  src: url("fonts/seguibl.eot");
  src: local("☺"), url("fonts/seguibl.woff") format("woff"), url("fonts/seguibl.ttf") format("truetype"), url("fonts/seguibl.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'segoe';
  src: url("fonts/seguibli.eot");
  src: local("☺"), url("fonts/seguibli.woff") format("woff"), url("fonts/seguibli.ttf") format("truetype"), url("fonts/seguibli.svg") format("svg");
  font-weight: 900;
  font-style: italic; }

:root {
  --container: 0px 20px;
  --con-size: 100%;
  --part-margin: 50px;
  --trans: 0.3s;
  --orange: #ff9e01;
  --text-color: #424242;
  --pink: #eac1c9; }

@media (min-width: 828px) {
  :root {
    --container: 0px calc((100% - var(--con-size)) / 2);
    --con-size: 768px; } }

@media (min-width: 1104px) {
  :root {
    --con-size: 1024px;
    --part-margin: 40px; } }

@media (min-width: 1320px) {
  :root {
    --con-size: 1220px;
    --part-margin: 50px; } }

@media (min-width: 1470px) {
  :root {
    --con-size: 1330px;
    --part-margin: 70px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-family: 'segoe', sans-serif; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.part {
  padding: var(--container); }

.first-bg {
  background-image: url("../images/f-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.subtitle {
  margin: 0;
  color: var(--text-color);
  font-weight: 900;
  font-size: 2em;
  text-align: center; }
  .subtitle--description {
    font-weight: 900;
    text-align: left; }
  .subtitle--description-bday {
    position: relative;
    display: block;
    text-transform: uppercase; }
    .subtitle--description-bday::before {
      content: "";
      position: absolute;
      top: -30px;
      left: -31px;
      width: 85px;
      height: 45px;
      background-image: url("../images/subtitle-hat.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
  .subtitle--third {
    text-align: center;
    color: var(--orange); }
  .subtitle--number {
    font-size: 140%;
    color: var(--pink); }
  .subtitle--fivth {
    text-align: center;
    font-weight: 900; }
  .subtitle--sale {
    font-size: 105%;
    color: var(--orange);
    text-transform: uppercase; }
  .subtitle--sixth {
    text-transform: uppercase; }
  .subtitle--pink-marked {
    color: var(--pink); }

@media (max-width: 828px) {
  .subtitle br {
    display: none; } }

.btn-con {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: var(--part-margin);
  text-align: center; }

.btn {
  padding: 20px 30px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  background: var(--orange);
  border-radius: 30px;
  border: none;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  cursor: pointer; }
  .btn:hover, .btn:focus {
    background: var(--pink);
    -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28); }
  .btn--preview {
    width: 50%;
    padding: 1.5em 2em; }
  .btn--more-rests {
    background: var(--pink); }
    .btn--more-rests:hover, .btn--more-rests:focus {
      -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28);
              box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28);
      background: var(--orange); }
  .btn--bold {
    font-weight: 900; }

@media (min-width: 1470px) {
  .btn {
    width: 50%;
    padding: 30px;
    font-size: 1.8em;
    border-radius: 40px; } }

.text-marked {
  color: var(--orange); }

* {
  outline: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px; }

@media (min-width: 828px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1104px) {
  .header__social {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 90px;
    margin-right: 90px; } }

.soc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .soc-nav__link:hover .soc-nav__icon {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .soc-nav__icon {
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    width: 40px; }

@media (min-width: 828px) {
  .soc-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 30px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff; }
    .soc-nav__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 33%;
              flex: 1 0 33%;
      height: 100%; }
      .soc-nav__link + .soc-nav__link {
        border-left: 2px solid #fff; }
    .soc-nav__icon {
      height: 25px;
      width: 25px; } }

@media (min-width: 1104px) {
  .soc-nav {
    line-height: 40px; }
    .soc-nav__icon {
      height: 30px;
      width: 30px; } }

.main-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  border-bottom: 2px solid transparent; }
  .main-phone:hover {
    text-decoration: underline; }
    .main-phone:hover .main-phone__icon {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .main-phone__icon {
    height: 35px;
    margin-right: 15px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans); }

@media (max-width: 828px) {
  .main-phone {
    margin-top: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2em; } }

.main-logo {
  width: 140px; }

@media (min-width: 1104px) {
  .main-logo {
    width: 180px; } }

@media (min-width: 1320px) {
  .main-logo {
    width: 230px; } }

.first {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: var(--part-margin); }

@media (max-width: 828px) {
  .first__title {
    margin-top: 80px;
    margin-bottom: 40px; } }

@media (min-width: 1104px) {
  .first {
    min-height: calc(70vh); }
    .first__title {
      margin-top: 80px; } }

@media (min-width: 1470px) {
  .first__girls {
    height: 690px;
    max-width: 330px; } }

.title {
  position: relative;
  font-weight: 900;
  color: #fff;
  font-size: 2.5em; }
  .title::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -22px;
    width: 85px;
    height: 60px;
    background-image: url("../images/title-hat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }

@media (min-width: 828px) {
  .title {
    font-size: 3em; } }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em; }
  .location__icon {
    margin-right: 10px;
    height: 52px;
    -o-object-fit: contain;
       object-fit: contain;
    vertical-align: middle; }

.second {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin);
  overflow: hidden; }
  .second::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--orange);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .second__preview, .second__description {
    width: 100%; }

@media (max-width: 828px) {
  .second__description {
    margin-top: 60px; } }

@media (min-width: 1104px) {
  .second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .second__preview, .second__description {
      width: 50%; }
    .second__preview {
      padding: 20px; }
    .second__description {
      padding-left: 70px; } }

@media (min-width: 1470px) {
  .second {
    padding-top: var(--part-margin);
    padding-bottom: var(--part-margin); }
    .second::before {
      top: -450px;
      left: 50px;
      width: 800px;
      height: 800px;
      border-radius: 50px; }
    .second__description {
      padding-left: 140px; } }

.preview-room {
  position: relative; }
  .preview-room__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    height: 60px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    outline: none; }
    .preview-room__btn:hover {
      -webkit-filter: drop-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.28));
              filter: drop-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.28)); }
    .preview-room__btn--prev {
      left: 45px;
      -webkit-transform: translate(0, -50%) rotate(180deg);
          -ms-transform: translate(0, -50%) rotate(180deg);
              transform: translate(0, -50%) rotate(180deg); }
    .preview-room__btn--next {
      right: 45px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }

@media (min-width: 1470px) {
  .preview-room__btn {
    height: 60px;
    width: 30px; } }

.slider {
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
  border-radius: 40px;
  overflow: hidden; }

.description__list {
  padding: 0;
  margin: 40px 0;
  list-style: none; }

.description__item {
  color: var(--text-color);
  font-weight: 600; }

@media (min-width: 1320px) {
  .description__list {
    margin-top: 50px; }
  .description__item + .description__item {
    margin-top: 30px; } }

@media (min-width: 1470px) {
  .description__list {
    margin-top: 80px; }
  .description__item {
    font-size: 1.2em; }
    .description__item + .description__item {
      margin-top: 50px; } }

.item-bday {
  position: relative; }
  .item-bday__icon {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 40px; }
  .item-bday + .item-bday {
    margin-top: 25px; }

@media (max-width: 828px) {
  .item-bday {
    padding-left: 55px; }
    .item-bday br {
      display: none; }
    .item-bday + .item-bday {
      margin-top: 30px; } }

@media (min-width: 828px) {
  .item-bday__icon {
    left: -50px; } }

@media (min-width: 1470px) {
  .item-bday__icon {
    left: -70px;
    width: 60px;
    max-height: 60px; } }

.third {
  background-image: url("../images/t-bg.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin); }

.rests {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0; }
  .rests__one {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
    text-decoration: none;
    color: var(--text-color); }
    .rests__one:nth-child(n+5) {
      display: none; }
  .rests--open .rests__one:nth-child(n+5) {
    display: block; }
  .rests__name {
    display: block;
    padding: 10px 0 0;
    font-size: 1.3em; }
  .rests__photo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28); }

@media (max-width: 1104px) {
  .rests {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .rests__one {
      margin-bottom: 40px; }
    .rests__photo {
      max-height: 150px; } }

@media (min-width: 1104px) {
  .rests {
    margin: 30px 0; }
    .rests__one {
      margin-top: 30px;
      -ms-flex-preferred-size: calc(25% - 15px);
          flex-basis: calc(25% - 15px); }
    .rests__photo {
      height: 120px; } }

@media (min-width: 1320px) {
  .rests {
    margin: 50px 0; }
    .rests__one {
      -ms-flex-preferred-size: calc(25% - 25px);
          flex-basis: calc(25% - 25px); }
    .rests__photo {
      height: 150px; } }

@media (min-width: 1470px) {
  .rests {
    margin: 70px 0; }
    .rests__one {
      -ms-flex-preferred-size: calc(25% - 45px);
          flex-basis: calc(25% - 45px);
      height: 180px; } }

.fourth {
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin); }
  .fourth__subtitle {
    margin-top: var(--part-margin);
    margin-bottom: var(--part-margin); }
  .fourth__info {
    text-align: center;
    font-weight: 300;
    font-size: 1.3em; }
    .fourth__info--marked {
      font-weight: 900;
      color: var(--orange); }

@media (max-width: 828px) {
  .fourth__packages {
    margin-top: 50px; } }

.photos-bday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px 0; }
  .photos-bday div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center; }
  .photos-bday__one {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
    -o-object-fit: contain;
       object-fit: contain;
    overflow: hidden; }

@media (max-width: 1104px) {
  .photos-bday div + div {
    margin-top: 30px; } }

@media (min-width: 1104px) {
  .photos-bday {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .photos-bday__one {
      width: 300px;
      height: 200px; } }

@media (min-width: 1320px) {
  .photos-bday__one {
    width: 380px;
    height: 255px; } }

.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

@media (max-width: 828px) {
  .package__one + .package__one {
    margin-top: 30px; } }

@media (min-width: 1104px) {
  .package {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .package__one {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; } }

.one-package {
  background-image: -o-linear-gradient(top, #fff 71px, var(--orange) 71px);
  background-image: linear-gradient(180deg, #fff 71px, var(--orange) 71px); }
  .one-package--shadow {
    position: relative; }
    .one-package--shadow::before, .one-package--shadow::after {
      content: "";
      position: absolute;
      top: 67px;
      height: calc(100% - 67px);
      width: 20px; }
    .one-package--shadow::before {
      left: -10px;
      background-image: -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #00000026), to(transparent));
      background-image: -o-linear-gradient(right, transparent 10%, #00000026 10%, transparent);
      background-image: linear-gradient(-90deg, transparent 10%, #00000026 10%, transparent); }
    .one-package--shadow::after {
      right: -10px;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(10%, #00000026), to(transparent));
      background-image: -o-linear-gradient(left, transparent 10%, #00000026 10%, transparent);
      background-image: linear-gradient(90deg, transparent 10%, #00000026 10%, transparent); }
  .one-package__marked {
    background-image: url("../images/pkg.png");
    background-size: 120px auto;
    background-position: top center;
    background-repeat: no-repeat; }
  .one-package__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    font-size: 1.6em;
    color: #494d4e; }
  .one-package__price {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center; }
    .one-package__price::before, .one-package__price::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 20px;
      height: 2px;
      background: #fff; }
    .one-package__price::before {
      left: -30px; }
    .one-package__price::after {
      right: -30px; }
  .one-package__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .one-package__part {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 400; }
    .one-package__part::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 10px;
      height: 10px;
      background-image: url("../images/list.png");
      background-size: contain;
      background-repeat: no-repeat; }

@media (max-width: 1104px) {
  .one-package {
    width: 100%; }
    .one-package__list {
      padding: 20px; }
    .one-package--shadow::before, .one-package--shadow::after {
      content: none; }
    .one-package__marked {
      padding-top: 60px; }
    .one-package__part {
      padding-left: 20px; }
      .one-package__part + .one-package__part {
        margin-top: 20px; } }

@media (min-width: 1104px) {
  .one-package {
    background-image: -o-linear-gradient(top, #fff 67px, var(--orange) 67px);
    background-image: linear-gradient(180deg, #fff 67px, var(--orange) 67px); }
    .one-package__title {
      margin-bottom: 30px;
      height: 30px; }
    .one-package__price {
      margin-bottom: 30px; }
      .one-package__price::before, .one-package__price::after {
        width: 25px; }
      .one-package__price::before {
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        left: -35px; }
      .one-package__price::after {
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        right: -35px; }
    .one-package__part {
      margin-bottom: 10px;
      padding-left: 30px; }
    .one-package__marked {
      padding: 70px 0 20px 30px; } }

@media (min-width: 1470px) {
  .one-package__title {
    margin-bottom: 30px; }
  .one-package__price {
    margin-bottom: 30px; }
    .one-package__price::before, .one-package__price::after {
      width: 25px; }
    .one-package__price::before {
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: -35px; }
    .one-package__price::after {
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      right: -35px; }
  .one-package__part {
    margin-bottom: 10px;
    padding-left: 30px; }
  .one-package__marked {
    padding: 70px 0 20px 30px; } }

.fivth {
  position: relative;
  padding-bottom: var(--part-margin);
  background: url(../images/bg-down.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  overflow: hidden; }
  .fivth::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: var(--orange); }
  .fivth .photos-bday__one {
    max-width: 370px;
    height: auto; }
  .fivth__more-toys {
    margin-top: var(--part-margin); }

@media (max-width: 828px) {
  .fivth {
    background-size: auto 220px; }
  .more-toys {
    font-size: 1.5em; }
    .more-toys::before {
      left: 0px; }
    .more-toys::after {
      right: 0px; } }

@media (min-width: 1470px) {
  .fivth {
    padding-bottom: 120px; }
    .fivth__photos {
      margin-top: var(--part-margin);
      margin-bottom: var(--part-margin); } }

.more-toys {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase; }
  .more-toys::before, .more-toys::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #fff; }
  .more-toys::before {
    left: -30px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .more-toys::after {
    right: -30px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .more-toys--marked {
    color: inherit;
    font-weight: bold; }

@media (max-width: 828px) {
  .more-toys {
    font-size: 1.5em; }
    .more-toys::before {
      left: 0px; }
    .more-toys::after {
      right: 0px; } }

.sixth {
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin);
  background-image: url("../images/six-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (min-width: 1470px) {
  .sixth__subtitle {
    margin-bottom: var(--part-margin); } }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--part-margin); }
  .information__address {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase; }
  .information__map {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.21);
    max-width: 100%;
    overflow: hidden; }

@media (max-width: 828px) {
  .information__map {
    max-height: 200px; }
  .information__address {
    margin-top: 50px; } }

@media (min-width: 1104px) {
  .information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .information__map {
      border-radius: 40px; } }

@media (min-width: 1470px) {
  .information__map {
    width: 650px;
    height: 590px;
    border-radius: 60px; } }

.address__link {
  display: block;
  margin: 20px 0;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  font-size: 0.75em;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans); }
  .address__link:hover {
    color: var(--orange); }

.address__img {
  display: block;
  margin: 0 auto 5px;
  width: 100%;
  max-width: 330px; }

.address__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1em 0; }

.address__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle; }

.address__metro {
  line-height: 50px;
  font-size: 70%;
  font-weight: 400; }

.address__metro-icon {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle; }

.address__phone {
  text-decoration: none; }
  .address__phone-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    -o-object-fit: contain;
       object-fit: contain;
    vertical-align: middle; }
  .address__phone--colored {
    color: var(--orange); }

@media (max-width: 420px) {
  .address__metro {
    display: inline; } }

@media (min-width: 1104px) and (max-width: 1320px) {
  .information__address {
    padding-left: 30px; } }

.body--modal-open {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh; }
  .body--modal-open .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }

.modal {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal__close {
    position: absolute;
    top: -70px;
    right: -70px;
    width: 50px;
    height: 50px;
    padding: 0;
    fill: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    outline: none; }
    .modal__close:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .modal__form {
    position: relative;
    width: 90%;
    max-width: 390px;
    margin: 0 auto; }

.form {
  padding: 20px;
  border-radius: 20px;
  background: var(--orange);
  border: 2px solid #fff; }
  .form__input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    outline: none; }
    .form__input + .form__input {
      margin-top: 30px; }
    .form__input--submit {
      font-size: 1em; }
    .form__input:not(.form__input--submit):focus {
      -webkit-box-shadow: 0px 0px 0px 2px var(--orange), 0px 0px 0px 4px #fff;
              box-shadow: 0px 0px 0px 2px var(--orange), 0px 0px 0px 4px #fff; }

@media (max-width: 768px) {
  .modal__close {
    top: -50px;
    right: 20px;
    width: 30px;
    height: 30px; } }
