body{
	font-family: 'segoe', sans-serif;
}
*{
	box-sizing: border-box;
}
.part{
	padding: var(--container);
}
.first-bg{
	// background: var(--orange);
	background-image: url("../images/f-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.subtitle{
	margin: 0;
	color: var(--text-color);
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	&--description{
		font-weight: 900;
		text-align: left;
	}
	&--description-bday{
		position: relative;
		display: block;
		text-transform: uppercase;
		&::before{
			content: "";
			position: absolute;
		    top: -30px;
		    left: -31px;
		    width: 85px;
		    height: 45px;	
			background-image: url("../images/subtitle-hat.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&--third{
		text-align: center;
		color: var(--orange);
	}
	&--number{
		font-size: 140%;
		color: var(--pink);
	}
	&--fivth{
		text-align: center;
		font-weight: 900;
	}
	&--sale{
		font-size: 105%;
		color: var(--orange);
		text-transform: uppercase;
	}
	&--sixth{
		text-transform: uppercase;	
	}
	&--pink-marked{
		color: var(--pink);
	}
}
@media (max-width: 828px){
	.subtitle{
		// font-size: 1.6em;
		br{
			display: none;
		}
	}
}
@media (min-width: 1470px){
	.subtitle-bday{

	}
}
.btn-con{
	width: 100%;
	flex-basis: 100%;
	margin-top: var(--part-margin);
	text-align: center;
}
@media (max-width: 828px){
	.btn-con{
		// margin-top: 20px;
	}
}

@media (min-width: 1470px){
	.btn-con{
		&--second{
			// margin-top: 90px;
		}
	}
}
.btn{
	padding: 20px 30px;
	text-align: center;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	background: var(--orange);
	border-radius: 30px;
	border: none;
	transition: var(--trans);
	cursor: pointer;
	&:hover, &:focus{
		background: var(--pink);
		box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28);
	}
	&--preview{
		width: 50%;
		padding: 1.5em 2em;
	}
	&--more-rests{
		background: var(--pink);
		&:hover, &:focus{
			box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.28);
				background: var(--orange);
		}
	}
	&--bold{
		font-weight: 900;
	}
}
@media (min-width: 1470px){
	.btn{
		width: 50%;
		padding: 30px;
		font-size: 1.8em;
		border-radius: 40px;
	}
}
.text-marked{
	color: var(--orange);
}

*{
	outline: none;
}