.first{
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: var(--part-margin);

}
@media (max-width: 828px){
	.first{
		&__title{
			margin-top: 80px;
			margin-bottom: 40px;
		}
	}
}
@media (min-width: 1104px){
	.first{
		min-height: calc(70vh);
		&__title{
			margin-top: 80px;
		}
	}
}
@media (min-width: 1470px){
	.first{
		// padding-top: 100px;
		// padding-bottom: 70px;
		&__girls{
			height: 690px;
			max-width: 330px;
		}
		&__location{
			
		}

	}
}
.title{
	position: relative;
	font-weight: 900;
	color: #fff;
	font-size: 2.5em;
	&::before{
		content: "";
		position: absolute;
	    top: -40px;
	    left: -22px;
	    width: 85px;
	    height: 60px;
		background-image: url("../images/title-hat.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;

	}
}
@media (min-width: 828px){
	.title{
		font-size: 3em;
	}
}

.location{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	&__icon{
		margin-right: 10px;
		height: 52px;
		object-fit: contain;
		vertical-align: middle;
	}
}