.fivth{
	position: relative;
	padding-bottom: var(--part-margin);
	background: url(../images/bg-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
	overflow: hidden;
	&::after{
		content: "";
		position: absolute;
		border-radius: 50%;
		background: var(--orange);
	}
	&__photos{

	}
	.photos-bday__one{
		max-width: 370px;
		// width: 100%;
		height: auto;
	}
	&__more-toys{
		margin-top: var(--part-margin);
	}
}
@media (max-width: 828px){
	.fivth{
		background-size: auto 220px;
	}
	.more-toys{
		font-size: 1.5em;
		&::before{
			left: 0px;
		}
		&::after{
			right: 0px;

		}
	}
}
@media (min-width: 1470px){
	.fivth{
		padding-bottom: 120px;
		&__photos{
			margin-top: var(--part-margin);
			margin-bottom: var(--part-margin);
		}
		&__more-toys{
		}
	}
}
.more-toys{
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	color: #fff;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	&::before,
	&::after{
		content: "";
		position: absolute;
		top: 50%;
		width: 20px;
		height: 2px;
		background: #fff;
	}
	&::before{
		left: -30px;
		transform: translate(0, -50%);
	}
	&::after{
		right: -30px;
		transform: translate(0, -50%);

	}

	&--marked{
		color: inherit;
		font-weight: bold;
	}

}
@media (max-width: 828px){
	.more-toys{
		font-size: 1.5em;
		&::before{
			left: 0px;
		}
		&::after{
			right: 0px;

		}
	}
}