@font-face {
	font-family: 'segoe';
	src: url('fonts/segoeuil.eot');
	src: local('☺'), url('fonts/segoeuil.woff') format('woff'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'segoe';
	src: url('fonts/segoeui.eot');
	src: local('☺'), url('fonts/segoeui.woff') format('woff'), url('fonts/segoeui.ttf') format('truetype'), url('fonts/segoeui.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'segoe';
	src: url('fonts/seguisb.eot');
	src: local('☺'), url('fonts/seguisb.woff') format('woff'), url('fonts/seguisb.ttf') format('truetype'), url('fonts/seguisb.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'segoe';
	src: url('fonts/seguibl.eot');
	src: local('☺'), url('fonts/seguibl.woff') format('woff'), url('fonts/seguibl.ttf') format('truetype'), url('fonts/seguibl.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'segoe';
	src: url('fonts/seguibli.eot');
	src: local('☺'), url('fonts/seguibli.woff') format('woff'), url('fonts/seguibli.ttf') format('truetype'), url('fonts/seguibli.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}


