.fourth{
	padding-top: var(--part-margin);
	padding-bottom: var(--part-margin);
	&__subtitle{
		margin-top: var(--part-margin);
		margin-bottom: var(--part-margin);

	}
	&__info{
		text-align: center;
		font-weight: 300;
		font-size: 1.3em;
		&--marked{
			font-weight: 900;
			color: var(--orange);
		}
	}
}
@media (max-width: 828px){
	.fourth{
		&__packages{
			margin-top: 50px;
		}
	}
}
.photos-bday{
	display: flex;
	flex-flow: column;
	padding: 20px 0;
	div{
		flex-grow: 1;
		text-align: center;
	}
	&__one{
		width: 100%;
		border-radius: 20px;
		border: 2px solid #fff;
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
		object-fit: contain;
		overflow: hidden;
	}
}
@media (max-width: 1104px){
	.photos-bday{
		div{
			& + div{
				margin-top: 30px;
			}
		}
	}
}
@media (min-width: 1104px){
	.photos-bday{
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-around;
		&__one{
			width: 300px;
			height: 200px;
		}
	}
}
@media (min-width: 1320px){
	.photos-bday{
		&__one{
			width: 380px;
			height: 255px;
		}
	}
}


.package{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
@media (max-width: 828px){
	.package{
		&__one{
			& + &{
				margin-top: 30px;
			}
		}
	}
}
@media (min-width: 1104px){
	.package{
		flex-flow: row;
		align-items: stretch;
		&__one{
			flex-grow: 1;
			flex-basis: 33%;
		}
	}
}
.one-package{
	background-image: linear-gradient(180deg, #fff 71px, var(--orange) 71px);
	&--shadow{
		position: relative;
		&::before,
		&::after{
			content: "";
			position: absolute;
			top: 67px;
		    height: calc(100% - 67px);
		    width: 20px;
		}
		&::before{
			left: -10px;
		    background-image: linear-gradient(-90deg,transparent 10%, #00000026 10%, transparent);

		}
		&::after{
		    right: -10px;
		    background-image: linear-gradient(90deg,transparent 10%, #00000026 10%, transparent);

		}

	}

	&__marked{
		// background-color: var(--orange);
		background-image: url("../images/pkg.png");
		background-size: 120px auto;
		background-position: top center;
		background-repeat: no-repeat;
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		margin: 0 auto;
		font-weight: 900;
		text-align: center;
		font-size: 1.6em;
		color: #494d4e;
	}
	&__price{
		position: relative;
		width: fit-content;
		margin: 0 auto;
		color: #fff;
		font-size: 1.5em;
		font-weight: 900;
		text-align: center;
		&::before,
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			width: 20px;
			height: 2px;
			background: #fff;
		}
		&::before{
			left: -30px;
		}
		&::after{
			right: -30px;
		}

	}
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__part{
		position: relative;
		color: #fff;
		font-size: 1em;
		font-weight: 400;
		&::before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0px;
			transform: translate(0, -50%);
			width: 10px;
			height: 10px;
			background-image: url("../images/list.png");
			background-size: contain;
			background-repeat: no-repeat;
			// left: 
		}
	}
}
@media (max-width: 1104px){
	.one-package{
		width: 100%;
		// background-image: linear-gradient(180deg, #fff 36px, var(--orange) 36px);

		&__list{
			padding: 20px;
		}
		&--shadow{
			&::before,
			&::after{
				content: none;
			}
		}
		&__marked{
			padding-top: 60px;
		}
		&__part{
			padding-left: 20px;
			& + &{
				margin-top: 20px;
			}
			&::after{

			}
		}
	}
}

@media (min-width: 1104px){
	.one-package{
		background-image: linear-gradient(180deg, #fff 67px, var(--orange) 67px);

		&__title{
			margin-bottom: 30px;
			height: 30px;
		}
		&__price{
			&::before,
			&::after{
				width: 25px;
			}
			&::before{
				transform: translate(0, -50%);
				left: -35px;
			}
			&::after{
				transform: translate(0, -50%);
				right: -35px
			}
			margin-bottom: 30px;	
		}
		&__part{
			margin-bottom: 10px;
			padding-left: 30px;
			&::before{
				// width: 25px;
				// height: 25px;
			}
		}
		&__marked{
			padding: 70px 0 20px 30px;
		}
	}
}
@media (min-width: 1470px){
	.one-package{
		// background-image: linear-gradient(180deg, #fff 96px, var(--orange) 96px);

		&__title{
			margin-bottom: 30px;
		}
		&__price{
			&::before,
			&::after{
				width: 25px;
			}
			&::before{
				transform: translate(0, -50%);
				left: -35px;
			}
			&::after{
				transform: translate(0, -50%);
				right: -35px
			}
			margin-bottom: 30px;	
		}
		&__part{
			margin-bottom: 10px;
			padding-left: 30px;
			&::before{
				// width: 25px;
				// height: 25px;
			}
		}
		&__marked{
			padding: 70px 0 20px 30px;
		}
	}
}
