.header{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding-top: 20px;
}
@media (min-width: 828px){
	.header{
		flex-wrap: nowrap;
		justify-content: space-between;

	}
}
@media (min-width: 1104px){
	.header{
		&__social{
			flex-grow: 1;
			margin-left: 90px;
			margin-right: 90px;
		}
	}
}
.soc-nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	&__link{
		&:hover{
			.soc-nav__icon{
				transform: scale(1.1);
			}
		}
	}
	&__icon{
		transition: var(--trans);
		width: 40px;
	}
}
@media (min-width: 828px){
	.soc-nav{
		justify-content: space-between;
		line-height: 30px;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		&__link{
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 0 33%;
			height: 100%;

			& + &{
				border-left: 2px solid #fff;
			}
			
		}
		&__icon{
			height: 25px;
			width: 25px;
		}
	}
}
@media (min-width: 1104px){
	.soc-nav{
		line-height: 40px;
		&__link{}
		&__icon{
			height: 30px;
			width: 30px;
		}
	}	
}

.main-phone{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	transition: var(--trans);
	border-bottom: 2px solid transparent;
	&:hover{
		text-decoration: underline;
		.main-phone__icon{
			transform: scale(1.1);
		}
	}
	&__icon{
		height: 35px;
		margin-right: 15px;
		object-fit: contain;
		transition: var(--trans);
	}
}
@media (max-width: 828px){
	.main-phone{
		margin-top: 20px;
		flex-basis: 100%;
		justify-content: center;
		font-size: 1.2em;

	}
}
@media (min-width: 1104px){
	.main-phone{
		&__icon{
		}
	}
}
.main-logo{
	width: 140px;
}
@media (min-width: 1104px){
	.main-logo{
		width: 180px;
	}
}
@media (min-width: 1320px){
	.main-logo{
		width: 230px;
	}	
}
