.body--modal-open{
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100vh;
	.modal{
		display: flex;
		visibility: visible;
	}
}
.modal{
	display: none;
	visibility: hidden;
	position: fixed;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	background: rgba(0, 0, 0, 0.6);
	align-items: center;
	justify-content: center;
	&__close{
		position: absolute;
		top: -70px;
		right: -70px;
		width: 50px;
		height: 50px;
		padding: 0;
		fill: #fff;
		border: none;
		background: transparent;
		cursor: pointer;
		transition: var(--trans);
		outline: none;
		&:hover{
			transform: scale(1.1);
		}

	}
	&__form{
		position: relative;
		width: 90%;
		max-width: 390px;
		margin: 0 auto;

	}
}
.form{
	padding: 20px;
	border-radius: 20px;
	background: var(--orange);
	border: 2px solid #fff;
	&__input{
		display: block;
		width: 100%;
		padding: 10px 20px;
		border-radius: 10px;
		border: 2px solid #fff;
		outline: none;
		& + &{
			margin-top: 30px;
		}
		&--submit{
			font-size: 1em;
		}
		&:not(&--submit):focus{
			box-shadow: 0px 0px 0px 2px var(--orange), 0px 0px 0px 4px #fff;
		}
	}
}
@media (max-width: 768px){
	.modal{
		&__close{
			top: -50px;
			right: 20px;
			width: 30px;
			height: 30px;
		}
	}
}