.second{
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: var(--part-margin);
	padding-bottom: var(--part-margin);
	overflow: hidden;
	&::before{
		content: "";
		position: absolute;
		z-index: -1;
		background-color: var(--orange);
		transform: rotate(45deg);

	}
	&__preview,
	&__description{
		width: 100%;
	}
}
@media (max-width: 828px){
	.second{
		&__description{
			margin-top: 60px;
		}
	}
}

@media (min-width: 1104px){
	.second{
		flex-flow: row wrap;
		&__preview,
		&__description{
			width: 50%;
		}
		&__preview{
			padding: 20px;
		}
		&__description{
			padding-left: 70px;
		}
	}
}

@media (min-width: 1470px){
	.second{
		padding-top: var(--part-margin);
		padding-bottom: var(--part-margin);
		&::before{
			top: -450px;
			left: 50px;
			width: 800px;
			height: 800px;
			border-radius: 50px;
		}
		&__description{
			padding-left: 140px;
		}
	}
}
.preview-room{
	position: relative;
	&__btn{
		position: absolute;
		top: 50%;
		z-index: 10;
		height: 60px;
		width: 30px;
		padding: 0;
		border: none;
		background-color: transparent;
		background-image:url("../images/arrow.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: var(--trans);
		outline: none;
		&:hover{
			filter: drop-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.28));
		}
		&--prev{
			left: 45px;
			transform: translate(0, -50%) rotate(180deg);
		}
		&--next{
			right: 45px;
			transform: translate(0, -50%);	
		}
	}
}
@media (min-width: 1470px){
	.preview-room{
		&__btn{
			height: 60px;
			width: 30px;
		}
	}
}
.slider{
	border: 3px solid #fff;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
    border-radius: 40px;
	overflow: hidden;
}

.description{
	&__list{
		padding: 0;
		margin: 40px 0;
		list-style: none;
	}
	&__item{
		color: var(--text-color);
		font-weight: 600;

	}
}
@media (min-width: 1320px){
	.description{
		&__list{
			margin-top: 50px;
		}
		&__item{
			& + &{
				margin-top: 30px;
			}
		}
	}
}

@media (min-width: 1470px){
	.description{
		&__list{
			margin-top: 80px;
		}
		&__item{
			font-size: 1.2em;
			& + &{
				margin-top: 50px;
			}
		}
	}
}
.item-bday{
	position: relative;
	&__icon{
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translate(0, -50%);
		width: 40px;
	}
	& + &{
		margin-top: 25px;
	}
	
}
@media (max-width: 828px){
	.item-bday{
		padding-left: 55px;
		br{
			display: none;
		}
		& + &{
			margin-top: 30px;
		}
	}

}

@media (min-width: 828px){
	.item-bday{
		&__icon{
			left: -50px;
		}
	}
}
@media (min-width: 1470px){
	.item-bday{
		&__icon{
			left: -70px;
			width: 60px;
			max-height: 60px;
		}
	}
}
