.sixth{
	padding-top: var(--part-margin);
	padding-bottom: var(--part-margin);
	background-image: url("../images/six-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&__subtitle{

	}
}
@media (max-width: 828px){
	.sixth{}
}
@media (min-width: 1470px){
	.sixth{
		&__subtitle{
			margin-bottom: var(--part-margin);
		}
	}
}
.information{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: var(--part-margin);
	&__address{
		font-size: 1.5em;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
	}
	&__map{
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.21);
		max-width: 100%;
		overflow: hidden;
	}
}
@media (max-width: 828px){
	.information{
		&__map{
			max-height: 200px;
		}
		&__address{
			margin-top: 50px;
		}
	}
}

@media (min-width: 1104px){
	.information{
		flex-flow: row nowrap;
		justify-content: space-around;
		&__map{
			// width: 650px;
			// height: 590px;
			border-radius: 40px;
		}
		&__address{
		}
	}
}
@media (min-width: 1470px){
	.information{
		&__map{
			width: 650px;
			height: 590px;
			border-radius: 60px;
		}
	}
}
.address__img{
}
.address{
	&__link{
		display: block;
		margin: 20px 0;
		color: var(--text-color);
		text-decoration: none;
		font-weight: 600;
		text-align: left;
		font-size: 0.75em;
		transition: var(--trans);
		&:hover{
			color: var(--orange);
		}
	}
	&__img{
		display: block;
		margin: 0 auto 5px;
		width: 100%;
		max-width: 330px;
	}
	&__icons-list{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		margin: 1em 0;
	}
	&__icon{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		object-fit: contain;
		vertical-align: middle;
	}
	&__metro{
		line-height: 50px;
		font-size: 70%;
		font-weight: 400;
		br{
			// display: none;
		}
	}
	&__metro-icon{
		height: 40px;
		margin-right: 10px;
		vertical-align: middle;
	}
	&__phone{
		text-decoration: none;
		// line-height: 50px;
		&-icon{
			width: 30px;
			height: 30px;
		margin-right: 10px;

			object-fit: contain;
			vertical-align: middle;
		}
		&--colored{
			color: var(--orange);
		}
	}
}
@media (max-width: 420px){
	.address{
		&__metro{
			display: inline;
		}
	}
}
@media (min-width: 1104px) and (max-width: 1320px){
	.information__address{
		padding-left: 30px;
	}
}