.third{
	background-image: url("../images/t-bg.png");
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-top: var(--part-margin);
	padding-bottom: var(--part-margin);
}
.rests{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0;
	&__one{
		flex-basis: calc(50% - 15px);		
		text-decoration: none;
		color: var(--text-color);
		&:nth-child(n+5){
			display: none;			
		}
		&:hover{
			.rests__name{
				// font-weight: bold;
				// text-decoration: underline;
			}
		}
	}
	&--open{
		.rests__one:nth-child(n+5){
			display: block;
			// margin-top: 30px;
		}
	}
	&__name{
		display: block;
		padding: 10px 0 0;
		font-size: 1.3em;
	}
	&__photo{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		border: 2px solid #fff;
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.28);
	}
}
@media (max-width: 1104px){
	.rests{
		align-items: stretch;
		&__one{
			margin-bottom: 40px;
		}
		&__photo{
			max-height: 150px;
		}
	}

}
@media (max-width: 768px){
	.rests{
		&__one{
			// flex-basis: 100%;
		}
	}

}


@media (min-width: 1104px){
	.rests{
		margin: 30px 0;
		&__one{
			margin-top: 30px;
			
			flex-basis: calc(25% - 15px);
		}
		&__photo{
			height: 120px;

		}
	}
}

@media (min-width: 1320px){
	.rests{
		margin: 50px 0;
		&__one{
			flex-basis: calc(25% - 25px);
		}
		&__photo{
			height: 150px;

		}
	}
}
@media (min-width: 1470px){
	.rests{
		margin: 70px 0;
		&__one{
			flex-basis: calc(25% - 45px);
			height: 180px;
		}
	}
}