:root{
	--container: 0px 20px;
	--con-size: 100%;
	--part-margin: 50px;
	--trans: 0.3s;

	--orange: #ff9e01;
	--text-color: #424242;
	--pink: #eac1c9;
}
@media (min-width: 828px){
	:root{
		--container: 0px calc((100% - var(--con-size)) / 2);
		--con-size: 768px;
	}
}
@media (min-width: 1104px){
	:root{
		--con-size: 1024px;
		--part-margin: 40px;
	}
}
@media (min-width: 1320px){
	:root{
		--con-size: 1220px;
		--part-margin: 50px;
	}
}
@media (min-width: 1470px){
	:root{
		--con-size: 1330px;
		--part-margin: 70px;
	}
}

@media (min-width: 828px){}
@media (min-width: 1104px){}
@media (min-width: 1320px){}
@media (min-width: 1470px){}
